.section
{
    background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.9) 50%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(50%,rgba(0,0,0,0.9)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.9) 50%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.9) 50%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.9) 50%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.9) 50%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
}

.shadow
{

    box-shadow: 0px 10px 5px #888888;
    z-index: 30;
}

.parallelogram-green {
    
	min-height: 100px;
	-webkit-transform: skew(50deg);
	   -moz-transform: skew(50deg);
	     -o-transform: skew(50deg);
	background: #4EA633;
}

.parallelogram-yellow {
    
	min-height: 100px;
	-webkit-transform: skew(50deg);
	   -moz-transform: skew(50deg);
	     -o-transform: skew(50deg);
	background: #93C01F;
}

.separador
{
    margin-top: 50px;
    background-color: white;
    min-height: 100px;

}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus
{
    color: green;
    background-color: transparent;
    
}

.navbar-inverse .navbar-nav > .active, .navbar-inverse .navbar-nav > .active , .navbar-inverse .navbar-nav > .active 
{
    background-image:  url('../../../assets/images/nav/link-overline2.png');
    background-repeat: no-repeat;
    background-position: top;
    background-position-x: center;
    background-position-y: .4em;
    
    @media (max-width: 767px) 
    {
        background-position-x: 1em;
        background-position-y: .2em;
    }
}

.navbar-inverse .navbar-nav > li > a
{
    color: white;
}


.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus
{
    background-color: transparent;
    color: green;


}

.nav-pills > li.active , .nav-pills > li.active , .nav-pills > li.active
{
    .link-overline
    {
        background-image: url('../../../assets/images/nav/link-overline.png');
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 30%;
    }
    
    .link-overline2
    {
        background-image: url('../../../assets/images/nav/link-overline.png');
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 2em;
    }
    

}

.nav-pills > li > a, .nav-pills > li > a:hover, .nav-pills > li > a:focus
{
    background-color: transparent;
    color: white;

}

.tab-pane
{
    color: white;
}

.nav-pills
{
li 
{

    a
    {
        font-size: 2em;
        text-transform: uppercase;
        color: white;


    }


}
}


.parallelogram-green-inv {
    
	min-height: 100px;
	-webkit-transform: skew(-50deg);
	   -moz-transform: skew(-50deg);
	     -o-transform: skew(-50deg);
	background: #4EA633;
}

.parallelogram-yellow-inv {
    
	min-height: 100px;
	-webkit-transform: skew(-50deg);
	   -moz-transform: skew(-50deg);
	     -o-transform: skew(-50deg);
	background: #93C01F;
}

.fondo-blanco 
{
    min-height: 15em;
    background-color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-image: url(../../../../assets/images/fondo-footer.png);
    background-size: cover;
    background-position: center;
    
    @media (max-width:991px)
    {
        position: relative;
    }
}

