.blog
{
    margin-top: 5em;
    color: white;
    
    .btn
    {
        border-radius: 0px;
        color: white;
        border: 0px;
        background-color: green;
    }
    p 
    {
        margin-top: 4em;
        text-align: justify;
    }
    button
    {
        margin-bottom: 1em;
    }
}