  .home
{
    
   
    
    .intro
    {
        background-image: url(../../../assets/images/fondo.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 400px;
    }
    
    .divide
    {
        margin-top: 5%;
        border-left: 3px solid green;
        height: 300px;
    }
    .logo-home
    {
        margin-top: 8em;
        
       
    }
    
    .info
    {
        margin-top: 10%;
        
 
    }
    
    
}
    

    