nav
{
    .logo
    {
        position: absolute;
        top: 30%;
        
    }
    
    .thumbnail
    {
        background-color: #000;
    }
    
    .nav
    {
        text-transform: uppercase;
    }
    
    
}

#logo-scroll
{
    
}